.text_nowrap {
    white-space: nowrap;
}

.fw_600 {
    font-weight: 600;
}
.fw_700 {
    font-weight: 700;
}
.fw_800 {
    font-weight: 800;
}

.mb_1 {
    margin-bottom: 1em;
}
.mb_2 {
    margin-bottom: 2em;
}

.pb_1 {
    padding-bottom: 1em;
}
.pb_2 {
    padding-bottom: 2em;
}

.color_gray {
    color: gray;
}